@page "/CinemaViewing"
@rendermode InteractiveServer
@using Cinema.Blazor.Components
@using Cinema.Infrastructure
@using Cinema.Core
@inject NavigationManager navigationManager
@inject CinemaViewingService _cVservice
@inject MovieService _movieService

<PageTitle>CinemaViewing</PageTitle>

<h1>Alla kommande visningar</h1>

@foreach (CinemaViewing item in CinemaViewngsList)
{
    @* var movie = await GetMovieByIdAsync(item.MovieId); *@
    
    <nav class="navbar navbar-light bg-light mb-3"> <!-- Lägg till mb-3 för att lägga till lite utrymme mellan varje navigation -->
        <a class="navbar-brand" href="/BLCinemaViewingDetails">
            <img src="@item.Movie.ImageUrl" width="30" height="30" class="d-inline-block align-top" alt="">
            <div class="d-flex flex-column"> <!-- Lägg till en flexbox för att ordna elementen i kolumner -->
                <span>Film namn: @item.Movie.Title</span>
                <!-- <span>Film namn: @movie.Title</span> -->
                <span class="mt-1">Pris: @item.Price</span>
                <span class="mt-1">Platser kvar: @item.PlaceQuantity</span>
            </div>
            <div class="ml-3 d-flex flex-column"> <!-- Lägg till lite marginal och en flexbox för att ordna elementen i kolumner -->
                <span class="mt-1">Tid och Datum: @item.TimeAndDate</span> <!-- Lägg datum under tid -->
            </div>
        </a>
    </nav>
}

@code
{
    List<CinemaViewing> CinemaViewngsList;

    
    protected override async Task OnInitializedAsync()
    {
        CinemaViewngsList = await _cVservice.GetAllUpcomingCinemaViewingsAsync();

        List<Movie> movies = await _movieService.GetAllMoviesAsync();
    }



}



@* 
/*
denna länk kan användas för att kolla i bootstrap om hur man kan skapa en form för resgistering av en reservation
https://getbootstrap.com/docs/4.0/components/forms/
https://getbootstrap.com/docs/4.0/components/input-group/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en model för att visa sidan CinemaViewing
https://getbootstrap.com/docs/4.0/components/modal/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en länk för att navigera till en video i youtube
https://getbootstrap.com/docs/4.0/utilities/embed/
*/ *@


@* [
  {
    "id": 62,
    "cinemaViewingId": 23,
    "quantity": 5,
    "reservationCode": "9bdb5134-d1f9-4ce7-b389-923d24739543",
    "email": "Emma@gmail.com",
    "usedRservationCode": true
  }
] *@


