@* @page "/UpcomingScreeningsDetails/{id:int}"
@rendermode InteractiveServer
@using Cinema.Blazor.Components
@using Cinema.Infrastructure
@using Cinema.Core
@inject NavigationManager navigationManager
@inject CinemaViewingService _cVservice
@inject MovieService _movieService
@inject ReservationService _resService

<PageTitle>UpcomingScreeningsDetails</PageTitle>

@if (CinemaViewing != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="@CinemaViewing.Movie.ImageUrl" class="img-fluid rounded-start" alt="@CinemaViewing.Movie.Title" style="max-width: 90%;">
            </div>
            <div class="col-md-8">
                <h2>@CinemaViewing.Movie.Title</h2>
                <p>Show Time: @CinemaViewing.TimeAndDate</p>
                <p>Theater: @CinemaViewing.SalonId</p>
                <p>Reservation:</p>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="seats" class="form-label">Number of seats</label>
                        <input type="number" class="form-control" id="seats">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
            </div>
        </div>
        <div class="row mt-3"> 
            <div class="col-md-12">
                <h3>Movie Description</h3>
                <p>@CinemaViewing.Movie.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Actors</h3>
                <p>@String.Join(", ", CinemaViewing.Movie.Actors)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Direction</h3>
                <p>@String.Join(", ", CinemaViewing.Movie.Direction)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Premiere</h3>
                <p>@CinemaViewing.Movie.ReleaseDate</p>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-container p {
        margin-right: 10px;
    }
</style>


@code
{
    Reservation reservation;
    CinemaViewing CinemaViewing;

    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            List<CinemaViewing> cinemaViewings= await _cVservice.GetAllUpcomingCinemaViewingsAsync();

            foreach (var cv in cinemaViewings)
            {
                if (cv.Id == Id)
                {
                    CinemaViewing = cv;
                    break;
                }
            }
        }
        else
        {
            navigationManager.NavigateTo("/UpcomingScreenings");
        }
    }

    public async Task AddReservation(Reservation reservation)
    {
        if (reservation != null)
        {
            await _resService.AddReservationAsync(reservation);
        }

    }

}
 *@



@* 
/*
denna länk kan användas för att kolla i bootstrap om hur man kan skapa en form för resgistering av en reservation
https://getbootstrap.com/docs/4.0/components/forms/
https://getbootstrap.com/docs/4.0/components/input-group/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en model för att visa sidan CinemaViewing
https://getbootstrap.com/docs/4.0/components/modal/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en länk för att navigera till en video i youtube
https://getbootstrap.com/docs/4.0/utilities/embed/
*/ *@



